.scrollToTop {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
  text-decoration: none;
  color: #e8e86d;
  fill: #e8e86d;
}

.scrollToTop > span {
  position: absolute;
  top: 30px;
  left: 0;
  font-size: 0.9em;
  font-weight: bold;
}
