h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

h1,
h2,
h3 {
  font-family: $font-brand-serif;
}

h1,
h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  color: $color-heading-grey;
  font-size: 2em;
  margin: 0 0 0.3em;
}

h3 {
  margin: 0 0 0.3em;
}
