a {
  color: black;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $color-primary-mint;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}
