// Header Styles
.site-header {
  z-index: 999;
  padding: 1em;
  margin: 0 auto;
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0);
  // -webkit-transition: all ease-out 0.5s;
  // -moz-transition: all ease-out 0.5s;
  // -o-transition: all ease-out 0.5s;
  // transition: all ease-out 0.5s;

  &.active {
    background-color: rgba(255, 255, 255, 1);

    &::before,
    &::after {
      content: "";
      position: absolute;
      /* fill vertically */
      top: 0;
      bottom: 0;
      width: 9600px;
      right: 100%;
      background: rgba(255, 255, 255, 1);
    }
    &::after {
      width: 9600px;
      left: 100%;
    }
  }

  .site-branding {
    position: absolute;
    z-index: 9999;
    width: 70%;
    .custom-logo-link {
      display: block;
      max-width: 280px;
    }
  }
  @media screen and (min-width: 700px) {
    padding: 1.5em 1em;
    max-width: 1200px;
    // position: absolute;
    left: 50%;
    transform: translateX(-50%);

    .site-branding {
      position: unset;
      margin-right: 2em;
    }
  }
}

.menu-toggle {
  display: block;
  margin: 0;
  padding: 15px 1em;
  font-size: 0.9em;
  color: #fff;
  float: right;
  border: none;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.menu-toggle > svg {
  fill: #3aaf55;
}

.main-navigation {
  font-family: $font-brand-san-serif;
  text-transform: uppercase;
  clear: both;
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  z-index: 999;

  &.toggled .nav-menu {
    display: grid;
    height: calc(100vh - 60px);
    opacity: 1;
    clear: both;
    padding: 20% 0;
    align-items: center;
    li {
      font-size: 2em;
    }
  }

  ul {
    display: none;
    padding-left: 0;
    // transition: all 0.3s ease-out;
  }

  li {
    position: relative;
    float: none;
  }

  li a {
    display: block;
    padding: 1em;
    font-size: 0.9em;
    text-align: center;
    font-weight: 700;
    color: $color-primary-mint;
  }

  ul ul,
  ul ul ul {
    position: relative;
    display: block;
  }

  ul ul a {
    width: 100%;
  }

  ul a:hover,
  ul ul a:hover,
  .current_page_ancestor,
  ul ul .current_page_parent,
  .current_page_parent .current_page_item > a,
  ul ul :hover > a,
  .current_page_item > a,
  .current_page_item > a:hover,
  .current_page_item li:hover,
  .current_page_parent .current_page_item > a {
    background: #fcffa1b3;
  }
}

.menu-main-menu-container > ul {
  background: #ffffffc8;
}

/* Small menu. */
.menu-toggle {
  display: block;
}
.main-navigation.toggled ul {
  display: none;
}

/***************************************/
/** Media Query **/
/***************************************/
@media screen and (min-width: 700px) {
  .menu-toggle {
    display: none;
  }

  .menu-main-menu-container > ul {
    background: none;
  }

  .menu-main-menu-container > ul > li > a {
    padding: 0 20px;
  }

  .sub-menu {
    width: 100%;
  }

  .main-navigation {
    width: inherit;
    line-height: 32px;
    height: 32px;

    li a {
      color: $color-secondary-grey;
    }

    ul {
      display: flex;
      justify-content: space-between;
    }

    li {
      padding: 0;
      white-space: nowrap;
    }

    ul ul {
      position: absolute;
      left: 0;
      z-index: 99999;
      display: none;
      float: left;
      padding: 14px 0 0 0;
      margin-left: 1em;
      width: max-content;
    }

    ul ul a {
      text-transform: uppercase;
      height: 36px;
      line-height: 36px;
      text-align: left;
      background-color: rgba(255, 255, 255, 1);
      padding: 0 2em;
    }
    ul li:hover > ul {
      display: block;
    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_item > a:hover,
    .current-menu-item > a:hover,
    ul a:hover,
    .current_page_ancestor,
    ul ul .current_page_parent,
    .current_page_parent .current_page_item > a,
    .current_page_item > a,
    .current_page_item > a:hover,
    .current_page_item li:hover,
    .current_page_parent .current_page_item > a {
      color: $color-primary-mint;
      background: none;
    }

    ul ul a:hover,
    ul ul :hover > a {
      background: rgba(255, 255, 255, 1);
    }
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
