// Contact Page
.map {
  background: #89898924;
  padding: 1em;
  margin: 3em -1em;
  display: grid;
  grid-template-areas:
    "info"
    "image";

  .map-info {
    padding: 1em;
    background: #fff;
    font-family: $font-brand-san-serif;
    grid-area: info;
  }

  .map-image {
    grid-area: image;
  }

  @media (min-width: 700px) {
    max-width: 900px;
    margin: 4em auto;

    grid-template-areas: "image info";
    grid-template-columns: minmax(300px, 3fr) 2fr;

    .map-image {
      height: 450px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .map-info {
      padding: 1em 2em;
    }
  }
}

.contact-form {
  .wpcf7,
  input {
    font-family: $font-brand-san-serif;
  }
  input.wpcf7-submit {
    border: none;
    @include button-submit;
  }

  @media (min-width: 700px) {
    max-width: 900px;
    margin: 4em auto;
  }
}
