// Home Full background slider and Hero Text
.front-slider {
  position: relative;
  .hero-text {
    @include hero-text-center;

    h1 {
      color: white;
      text-shadow: 0px 4px $color-heading-grey;
      font-size: 3em;
      line-height: 1em;
      letter-spacing: 4px;
      text-transform: uppercase;
      margin: 0 0 1em;
    }

    h2 {
      color: white;
      text-shadow: 0px 3px $color-heading-grey;
      margin: 0;
      letter-spacing: 2px;
      text-transform: capitalize;
      font-size: 1.5em;
    }

    @media (min-width: 600px) {
      h1 {
        font-size: 5em;
      }
      h2 {
        font-size: 2em;
      }
    }
  }
}

.feat-sub-title {
  p {
    color: $color-secondary-grey;
    font-size: 1.2em;
    font-weight: 400;
  }
}

.feat-service-conatiner {
  display: grid;
  grid-gap: 1em;

  @media (min-width: 700px) {
    grid-template-columns: 2fr 3fr;
  }
}
