.sticky {
  display: block;
}

.site-content {
  max-width: $max-width-site;
  margin: 0 auto;
  padding: 0 1em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

// Pages Banner Style
.banner {
  position: relative;
  height: 50vh;
  .banner-text {
    @include hero-text-center;
    h1 {
      color: white;
      text-shadow: 0px 4px $color-heading-grey;
      font-size: 3em;
      line-height: 1em;
      letter-spacing: 4px;
      text-transform: uppercase;
    }
    @media (min-width: 600px) {
      h1 {
        font-size: 5em;
      }
    }
  }
  .banner-image {
    height: 100%;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
